#include <windows.h>

//MP_ICON ICON "mp.ico"

"QWINPUTBOX" DIALOG DISCARDABLE 100, 100, 170, 40
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "qw"
FONT 8, "MS Sans Serif"
BEGIN

    RTEXT           "", 1500, 6, 4, 34, 16
    COMBOBOX        1501, 46, 3, 120, 100, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 48, 24, 32, 12
    PUSHBUTTON      "Cancel", IDCANCEL, 86, 24, 32, 12

END
